 /* 전체 페이지 스타일 */
 body {
    background-color: #fde0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* 헤더 스타일 */
  header {
    background-color: #ff8bbb;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    color: white;
    font-size: 36px;
  }
  
  /* 내용 스타일 */
  main {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
  }
  
  h2 {
    color: #ff8bbb;
    font-size: 24px;
    margin-top: 0;
  }
  
  p {
    color: #555555;
    line-height: 1.5;
  }
  
  /* 푸터 스타일 */
  footer {
    background-color: #ff8bbb;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 14px;
  }